<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygreenapp">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGreenApp">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ClubsAndSocietiesFinal"
            android:exported="false"
            android:parentActivityName=".ClubsAndSocietiesSecond"/>
        <activity
            android:name=".ClubsAndSocietiesSecond"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".AddMeetingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEventActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".register_innovators_club"
            android:exported="false" />
        <activity
            android:name=".register_ieee"
            android:exported="false" />
        <activity
            android:name=".register_foss"
            android:exported="false" />
        <activity
            android:name=".innovators_club"
            android:exported="false" />
        <activity
            android:name=".ieee_club"
            android:exported="false" />
        <activity
            android:name=".foss_club"
            android:exported="false" />
        <activity
            android:name=".register_rugby_club"
            android:exported="false" />
        <activity
            android:name=".register_soccer_club"
            android:exported="false" />
        <activity
            android:name=".register_netball_club"
            android:exported="false" />
        <activity
            android:name=".register_martialarts_club"
            android:exported="false" />
        <activity
            android:name=".register_hockey_club"
            android:exported="false" />
        <activity
            android:name=".registre_fitness_club"
            android:exported="false" />
        <activity
            android:name=".register_cricket_club"
            android:exported="false" />
        <activity
            android:name=".register_chess_club"
            android:exported="false" />
        <activity
            android:name=".register_badminton_club"
            android:exported="false" />
        <activity
            android:name=".register_athletic_club"
            android:exported="false" />
        <activity
            android:name=".register_archery_club"
            android:exported="false" />
        <activity
            android:name=".activity_soccer_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_rugby_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_netball_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_martial_arts_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_hockey_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_fitness_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_cricket_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_archery_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_chess_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".BasketballClubActivity"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".activity_athletic_club"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".BadmintonClubActivity"
            android:exported="false"
            android:parentActivityName=".SportsClubsActivity" />
        <activity
            android:name=".NewsPageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AcademicClubsActivity"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".ActivityBasedClubsActivity"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".InternationalClubsActivity"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".ReligiousClubActivity"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".SportsClubsActivity"
            android:exported="false"
            android:parentActivityName=".ClubAndSocietiesActivity" />
        <activity
            android:name=".ClubAndSocietiesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>